<main>
  <center>
    <section class="detallesProducto">
      <h1>{{productName}} </h1>
      <p>Descripcion: {{productDescription}} </p>
      <p>Precio: ${{productPrice}} </p>
      <p>Stock: {{productStock}} </p>
      <p>Categoría: {{productCategory}} </p>
      <p>Código: {{productCode}} </p>
      <button id={{productId}} class="addButton">Agregar al carrito</button>
    </section>
    <button id="carritoBoton"><a href="" id="linkCarrito">Ir al carrito</a></button>
  </center>
</main>
<script src="/api/public/js/product.js"></script>